.container2 {
   height: 825px;
  width: 1017px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  border: 0.3px solid #666666;
  display: flex;
  flex-direction: row;
box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
}
.inputs2 {
   flex: 3;
  margin-top: 56px;
  margin-left: 56px;
  height: 100%;
  position: relative;
    width: 534px;
}
.image2 {
  flex: 2;
  background-image: url("../assets/food2.jpeg");
  background-size: cover;
  background-position: center;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.header2 {
    flex-direction: column;
  display: flex;
  gap: 0;
  
}
.form2 {
    display: flex;
  flex-direction: column;
  width: 534px;
  margin-top: 40px;

}
.create2 {
    margin: 0;
  padding: 0;
  font-size: 32px;
}
.navigatetosignup {
   font-size: 16px;
  margin: 0;
  padding: 0;
}
.navigatetosignup a {
    color: black;
}
.email2 {
   display: flex;
  margin-top: 30px;
  flex-direction: column;
}
.email2 input{
      height: 56px;
  width: 534px;
  border-radius: 12px;
  border: 0.3px solid #666666;
  margin: 0; /* ensure no extra space */
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
}
.password2 {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
}
.password2 input{
      height: 56px;
  width: 534px;
  border-radius: 12px;
  border: 0.3px solid #666666;
  margin: 0; /* ensure no extra space */
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
}
.form2 button{
      width: 259px;
  height: 64px;
  padding: 8px;
  border: 0.3px solid #666666;
  font-size: 22px;
  border-radius: 32px;
  background-color: #111111;
  color: white;
  position: absolute;
  bottom: 140px;
  right: 200px;
transition: transform 0.3s ease;

}
.form2 button:hover{
    transform: scale(0.9);
}