.list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  overflow: hidden;
  position: relative;
  width: 1610px;
}
.images {
  display: flex;
  flex-direction: column;
}
.images img {
  height: 350px;
  width: 290px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.images img:hover {
  transform: scale(0.9);
}
.imagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
  color: white;
}

.restuName {
  font-size: 20px;
}
.rettuCity {
  font-size: 15px;
  color: #6a7b76;
}
.prev,
.next {
  background-color: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: white;
  transition: color 0.3s;
  margin-bottom: 55px;
  padding: 20px;
}
.next:disabled {
  color: gray;
}
.prev:disabled {
  color: gray;
}

.headlines {
  display: flex;
  justify-items: start;
  font: 30px;

  width: 92%;
}
.pictures {
  flex-direction: row;
  display: flex;
}
